@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
}
.title {
  text-align : center;
  margin-top:150px;
}
.title-sub{
  text-align:center;
}
.navbar{
  background: black;
  padding: 20px;
}
.navbar a {
  margin-right:10px;
  text-decoration:
  none;
}